* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
  background: #0f172a;
  color: #e2e8f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 2rem;
}

/* .app {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  width: 500px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

.todo-input {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.todo-input input {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: none;
  outline: none;
}

.todo-input button {
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  background: #38bdf8;
  color: #000;
  cursor: pointer;
  font-weight: bold;
}

.todo-input button:hover {
  background: #0ea5e9;
}

.filters {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.filters button {
  flex: 1;
  margin: 0 3px;
  padding: 8px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #334155;
  color: #fff;
}

.filters button.active {
  background: #22c55e;
}

#taskList {
  list-style: none;
}

.task {
  background: #334155;
  padding: 10px;
  border-radius: 6px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.task.completed span {
  text-decoration: line-through;
  opacity: 0.6;
}

.task button {
  background: #f87171;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
  color: white;
} */

/* User Dashboard */

.app {
  width: 800px;
  background: #1e293b;
  padding: 24px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6);
}

h1 {
  margin-bottom: 16px;
  font-size: 24px;
  color: #f1f5f9;
}

.btn {
  padding: 10px 16px;
  background: #6366f1;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  margin-bottom: 16px;
}

.btn:hover {
  background: #4f46e5;
}

.status {
  margin-bottom: 16px;
  font-size: 14px;
  color: #94a3b8;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.user-list {
  list-style: none;
  border: 1px solid #334155;
  border-radius: 8px;
  overflow: hidden;
  background: #020617;
}

.user-list li {
  padding: 12px;
  border-bottom: 1px solid #1e293b;
  cursor: pointer;
  transition: 0.2s;
}

.user-list li:hover {
  background: #1e293b;
}

.user-list li.active {
  background: #312e81;
  color: #e0e7ff;
}

.user-details {
  border: 1px solid #334155;
  border-radius: 8px;
  padding: 16px;
  background: #020617;
}

.user-details p {
  margin-bottom: 8px;
}

.status.loading {
  color: #38bdf8;
}

.status.error {
  color: #f87171;
}

.status.success {
  color: #4ade80;
}
